**A**

In [ ]:
n=int(input())
print(n)

698
698

**C**

In [ ]:
n=int(input())
m=int(input())
x=n//m
print(x)

2064
4
516

**B**

In [ ]:

n=int(input())
m=int(input())
x=n%m
print(x)

2064
4
0

H

In [ ]:
n=int(input())
import math
x=math.sqrt(n)
print('%.3f'%x)

344
18.547

**G**

In [ ]:
a = float(input())
b = float(input())
if a == 0:
    if b == 0:
        print('phuong trinh vo so nghiem')
    else:
        print('vo nghiem')
else:
    x= -b/a
    print('%.3f'%x)

226.928
214.380
-0.945

I

In [ ]:
a, b, c =map(int, input().split())

min_value = min(a, b, c)
max_value = max(a, b, c)

print(min_value, max_value)

E

In [ ]:
n=int(input())
if n % 2 == 0:
   print("YES")
else:
   print("NO")

997
NO

F

In [ ]:
def isPerfectSquare(n):
    return (n**0.5).is_integer()

n=int(input())
if isPerfectSquare(n):
    print(f"YES")
else:
    print(f"NO")

49
YES

N:tổng n số liên tiếp

In [ ]:
Sn=0
n=int(input())
for i in range(1,n+1):
  Sn=Sn+i
print(Sn)

5
15

J

In [ ]:
a,b,c=map(int,input().split())

if a + b > c and a + c > b and b + c > a:
    print("YES")
else:
    print("NO")

3 4 5
YES

K

In [ ]:
a,b,c=map(int,input().split())

if a + b > c and a + c > b and c + b > a:
    if a*a == b*b + c*c or b*b == a*a + c*c or c*c == a*a + b*b:
        print("YES")
else:
    print("NO")

3 4 5
YES

L

In [ ]:
x1,y1=map(int,input().split())
x2,y2=map(int,input().split())
x3,y3=map(int,input().split())

if x1*(y2-y3) + x2*(y3-y1) + x3*(y1-y2) == 0:
    print("YES")
else:
    print("NO")

0 0
1 1
2 2
YES

M

In [ ]:
a=int(input())
b=list(map(int,input().split()))
n=len(b)
for i in range(n):
   print(b[i],end=' ')

5
5 4 3 8 -1
5 4 3 8 -1

O

In [ ]:
a=[0]
b=int(input())
c=list(map(int,input().split()))
e=len(c)
for i in range(0,e):
  if (c[i]>=0):
    a.append(c[i])
n=len(a)-1

if (n>0):
  print(n)
for d in range(1,n+1):
  print(a[d], end=' ')
if (n==0):
  print('Day so khong co phan tu duong')

u

In [ ]:
a=int(input())
b=list(map(int,input().split()))
n=len(b)
m=sum(b)
d=("{:.3f}".format(m/n))
print(d)

v

In [ ]:
a=int(input())
b=list(map(int,input().split()))
n=len(b)
max=b[0]
for i in range(1,n):
  if (b[i]>max):
    max=b[i]
  else:
    max=max
print(max)

p

In [ ]:
n = int(input())
x = list(map(int, input().split()))
y = list(map(int, input().split()))

tong = sum(xi * yi for xi, yi in zip(x, y))
print(tong)

s

In [ ]:
import math

def kiem_tra(x):
    if x < 2:
        return False
    for i in range(2, int(math.sqrt(x)) + 1):
        if x % i == 0:
            return False
    return True

x = int(input())

if kiem_tra(x):
    print("co")
else:
    print("khong")

d

In [ ]:
x=float(input())
import math
cos=math.cos
sin=math.sin
tan=math.tan

print('{:.3f}'.format(cos(x),3),'','{:.3f}'.format(sin(x),3),'','{:.3f}'.format(tan(x),3),'','{:.3f}'.format(1/tan(x),3))

Q

In [ ]:
a=[0]
b=int(input())
c=list(map(int,input().split()))
e=len(c)
for i in range(0,e):
  if (c[i]>=0):
    a.append(c[i])
n=len(a)-1
m=sum(a)
d=("{:.3f}".format(m/n))
print(d)

T

In [ ]:
a=[0]
b=int(input())
c=list(map(int,input().split()))
e=len(c)
for i in range(0,e):
  if (c[i]>=0):
    a.append(c[i])
n=len(a)-1
m=sum(a)
d=("{:.3f}".format(m/n))
print(d)